<%= form_for([@status, @status.slides.build], :html => {:multipart => true}, :remote => true) do |f| %>
  <div class="slide-field" >
  	<%= f.hidden_field :title, placeholder: "Card title...", :style=>"width:300px; margin-left:24%", :value => "Add title here" %>
    <%= f.hidden_field :content, placeholder: "Card content...", :style=>"width:300px; margin-left:24%", :value => "Add text here" %>
    <br>
    <%= f.submit "Add new card", class: "btn btn-info", :style=>"width:300px; margin-left:24%" %>
  </div>

<!--     <%= f.file_field :image, :style=>"margin-left:84px" %> -->
<!--     <span class="countdown"></span> -->
    <% end %>  
