<div class="slide-menu">
  <!--<%= link_to "Edit", "#", id: "activator-#{slide.id}" if current_user.statuses.include?(@status) %>-->
<!--   <%= link_to "Edit", edit_status_slide_path(@status,slide) if current_user.statuses.include?(@status) %> -->
 <%= link_to 'x', [slide.status, slide],
               :confirm => 'Are you sure you want to delete this slide?',
               :method => :delete if current_user.statuses.include?(@status) %>
    </div>
<div class="slide-box">
<span class="handle">
<div class="slide-unit">
</span>
<div class="slide-menu">
<%= link_to 'x', slide_delimg_path(slide), data: { confirm: "Are you sure you want to delete this image?"} if slide.image? %>
</div>
<%= image_tag slide.image_url(:thumb) if slide.image? %><br>
           <p><%= best_in_place slide, :content, :path => [@status, slide], :html_attrs => { :maxlength => 200 } %></p>
<div class="add_image">
  <%= render :partial => "slides/form2", :locals => { :slide => slide } %>
</div>
    </div>
</div>